/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
    --smooth-blue: #4459A2;
    --background: #C9D1D9;
    --add-more-color: #CED8FB;
 }

 html body {
    height: 100vh;
    background-color: var(--background);
 }

#mainContainer {
    min-height: 100vh;
}

.main-content{
    min-height: 95vh;
}

.main-card {
    width: 32.5rem;
}

.footer-content {
    min-height: 5vh;
}

.blue-highlight {
    color: var(--smooth-blue);
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.card-title-text {
    font-weight: 900;
    font-family: 'Playfair Display', serif;
}

.main-card .email-subscription, 
.main-card .button-subscribe {
    border: 1px solid var(--smooth-blue);
}

.main-card .button-subscribe, .main-card .button-subscribe * {
    background-color: var(--smooth-blue);
    color: white;
}

.ignore-form-css form{
    all:unset;
}

.add-more-button {
    background-color: var(--add-more-color);
    width: 115px;
    height: 25px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: var(--smooth-blue);
    font-weight: bold;
    line-height: 25px;
}