<div class="row align-items-center main-content">
    <div class="col d-flex justify-content-center align-self-center">
        <div class="card text-center main-card">
            <div class="card-body ignore-form-css">
                <h2 class="blue-highlight card-title-text">Restaurant Newsletter</h2>
                <div class="d-flex justify-content-center align-self-center">
                    <p class="w-75"> Subscribe to our newsletter to get daily specialities of our best restaurants right in your mailbox. </p>
                </div>
                <%= form_with model: @email do |form| %>
                    <div class="input-group mb-3 px-5">
                        <%= form.text_field :email, class:"form-control email-subscription" %>
                        <div class="input-group-append button-subscribe">
                            <%= form.submit class:"btn" "Subscribe" %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<div class="row align-items-end footer-content">
    <div class="col d-flex justify-content-center pb-3">
        <span class="align-text-bottom">Are you a restaurant owner? <%= link_to "Click here", addRestaurant_path, class:"blue-highlight" %> to add your daily specialities.</span>
    </div>
</div>