<div class="col-md-6 offset-md-3">
    <div class="alert alert-warning alert-dismissible fade show mt-3 text-center" role="alert">
        <h2 class="blue-highlight card-title-text">Thank you!</h2>
        <%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>